*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    
}

.container section {
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./assets/is1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    
}

.container section:nth-child(2)
{
    background-image: url(./assets/is2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
.container section:nth-child(3)
{
    background-image: url(./assets/is3.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
.container section:nth-child(4)
{
    background-image: url(./assets/is4.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

.container section .content{
    min-width: 600px;
    padding: 40px;
    text-align: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container section .content h2 {
    font-size: 4em;
    line-height: 1.4em;
    color: #ffffff;
}
.container section .content p {
    line-height: 1.4em;
    font-weight: 800;
    color: #ffffff;
}

/*
@media (max-width:991px){
    .container{
        position: absolute;
        display: flex;
        flex-direction: column;
        height: auto;
        transform: none !important;
    }
}
*/